:root{
    --background-color: #f0f0f0c8;
    --input-background-color: #fefefe;
    --border-color: #00000090;
    --backgroundInput-color: #000000;
    --border-hover-color: #21212190;
    --border-black-color: #e8e8e8c8;
}